* {
    box-sizing: border-box;
}

:root {
    --font-color: #44444d;
    /*--bg-color: #eef2ff;*/
    --bg-color: #eff4fa;
    --input-border-color: #bfbfbf;
    --input-border-color-focus: #5298ee;
    --input-border-color-focus-a: #5298ee80;
    --input-border-color-error: #f52929;
    --input-border-color-error-a: #f5292980;
    --input-color: #185297;
    --input-color-2: #216cc7;
    --input-color-3: #2881ec;
    --input-color-a: #18529755;
    --light-grey: #e1e1e1;
    --dark-grey-a: #65656580;
    --delay: 150ms;
}

body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--font-color, #333);
    background-color: var(--bg-color);
}

main {
    display: block;
    padding-bottom: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--font-color, #333);
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

.main-wrapper {
    max-width: 90em;
    width: 90vw;
    margin: 0 auto;
}

.section-title {
    margin: 0 0 2em 0;
}

/* SECTION: Comment Form */

.fieldset-wrapper {
    margin: 1em 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: bold;
    padding-bottom: .5em;
    font-size: 1.2em;
}

.field label,
.field input,
.field textarea {
    display: block;
}

.field label {
    margin-bottom: .5em;
}

input,
textarea {
    appearance: none;
    font: inherit;
    color: var(--font-color);
}

textarea {
    resize: none;
}

input:not(input[type="submit"]),
textarea {
    width: 100%;
}

input,
textarea {
    border: 1px solid var(--input-border-color);
    border-radius: .25em;
    padding: .3125em;
    transition: var(--delay) all;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: var(--input-border-color-focus);
    box-shadow: 0px 0px 4px var(--input-border-color-focus-a);
}

input[type="submit"] {
    border: 0;
    border-radius: .25em;
    padding: .5em 1em;
    background-color: var(--input-color);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px .125em 0px 0px var(--dark-grey-a);
    transition: 150ms all;
}

input[type="submit"]:focus {
    background-color: var(--input-color-2);
}

input[type="submit"]:active {
    transform: translateY(.125em);
    box-shadow: 0px 0px 0px 0px var(--dark-grey-a);
}

.submit-btn-wrapper {
    display: flex;
    flex-direction: row-reverse;
}


/* SECTION: page description */

#page-info {
    min-width: 15em;
    min-height: 15em;
    max-height: 30em;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px var(--dark-grey-a);
    padding: 1em;
    margin-bottom: 2em;

    grid-column: 1 / 2;
}

/* SECTION: comments display area */

.posts-wrapper {
    min-height: 5em;
    margin: 0 0 3em 0;
}

#section-display {
    background-color: #fff;
    border-radius: .25em;
    box-shadow: 0px 0px 4px 0px var(--dark-grey-a);
    padding: 2em;

    grid-column: 2 / 3;
    max-width: 60em;
}

/*SECTION: comment template*/

.post {
    min-height: 10em;
    padding: 1em 2em;

}

.post .author-info-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.post-title {
    margin: 0;
    border-bottom: 2px solid var(--input-color-a);
    padding: 0 0 .5em 0;
}

.post-text {
    margin: 0;
    padding: 1em 0;
}

.author-info {
    margin: .5em 0;
}

@media (min-width: 25em) {
    .main-wrapper {
        width: 92vw;
    }
}

@media (min-width: 45em) {
    main {
        display: grid;
        grid-template-columns: auto minmax(auto, 100%);
        column-gap: 5%;
    }
}

@media (min-width: 50em) {
    .field {
        display: flex;
    }

    .field label {
        flex: 0 1 6em;
    }

    #page-info {
        max-width: 20em;
        min-height: 10em;
    }

}
